.DS_Store
/.build
/.swiftpm
/Packages
/*.xcodeproj
/*.xcresult
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved

# Swift bindings written by build.rs on every macOS build
/Sources/generated
